#kalkulator {
    width: 350px;
    height: 400px;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    background-color: grey;
}

#przyciski,
#suma {
    width: 40px;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    background-color: lightblue;
}

#display {
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 5px;
    border: 0;
}

#niewidzialne {
    width: 40px;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    border: 0;
    background-color: grey;
}